*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html, body, #root
{
    height: 100vh;
  
    background: #ebebee; 
}

body, input, button
{
    
    font-family: Archivo, sans-serif;
}

.container
{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.buttonLists
{
    background-color: #3062db;
    color: #ffffff;
    height: 100%;
    width: 80%;
    padding: 5px 0;
    border: none;
}